<!DOCTYPE html>
<html lang="en">
<head>
    <title>Real time streaming</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    </style>
</head>

<body>
    <div>
        <textarea id="text" rows="100" cols="20">Data</textarea>
    </div>
    <script>
        var ws = new WebSocket("ws://localhost:8000/ws");
        ws.onopen = function (event) {
            console.log("Websocket Opened")
        }
        let x = 0;
        ws.onmessage = function (event) {
            const measurement = JSON.parse(event.data);
            document.getElementById("text").value += measurement.value +"\n"
            x += 1
            console.log("x, y:" + measurement);
        };
    </script>
</body>

</html>